.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(51, 51, 51);
    color: white;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(232, 85, 85);
}

.search-bar {
    position: relative;
    width: 400px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid rgb(232, 85, 85);
    border-radius: 5px;
    outline: none;
    color: rgb(51, 51, 51);
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid rgb(232, 85, 85);
    border-radius: 4px;
    max-height: 250px;
    overflow-y: auto;
    z-index: 1000;
}

.suggestions li {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.suggestions li:hover {
    background-color: rgb(232, 85, 85);
    color: white;
}

.suggestion-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.username {
    color: rgb(51, 51, 51);
    margin-right: 10px;
    flex-grow: 1;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
}

.action-button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
    width: 150px;
}

.view-profile-button {
    background-color: rgb(51, 51, 51);
    color: white;
}

.add-friend-button {
    background-color: rgb(232, 85, 85);
    color: white;
}

.profile-and-notifications {
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между кнопкой уведомлений и профилем */
}

.notification-icon, .profile-icon {
    cursor: pointer;
    color: white;
}

.notifications-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    color: black;
    border: 1px solid rgb(232, 85, 85);
    border-radius: 4px;
    width: 250px;
    z-index: 1000;
}

.notifications-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.notifications-dropdown li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.notifications-dropdown li:hover {
    background-color: rgb(232, 85, 85);
    color: white;
}